<section id="howitworks" class="center">
    <div class="container">
        {% if page.menuname == "home" %}<h2>How it works</h2>{% endif %}
        <h3 class="subtitle">how to resolve a building violation notice in 3 quick steps</h3>
        <hr>
        <div class="row">
            <div class="col-sm-6 text-left">
                <h3>1. Get introduced to pros</h3>
                <p>Tell us about your notice of building violation and we'll introduce you to several experienced professionals in your area who are ready to:</p>
                <ul>
                    <li>Remedy corrected and uncorrected violations</li>
                    <li>Obtain permits and coordinate contractors</li>
                    <li>Mitigate penalties and assess of filing fees</li>
                    <li>Represent you at the environmental quality control board</li>
                    <li>Resolve HPD violations and inspections</li>
                </ul>
            </div>
            <div class="col-sm-6 text-right">
                <img src="{{ site.baseurl }}/assets/img/step-1.jpg">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-left">
                <img src="{{ site.baseurl }}/assets/img/step-2.jpg">
            </div>
            <div class="col-sm-6 text-left">
                <h3>2. Compare professionals</h3>
                <p>Within hours, interested and available professionals will send you custom quotes. Each quote includes:</p>
                <ul>
                    <li>Price estimate</li>
                    <li>Customer reviews</li>
                    <li>Contact info</li>
                    <li>Personalized message</li>
                    <li>Business profile</li>
                </ul>
            </div>        
        </div>

        <div class="row">
            <div class="col-sm-6 text-left">
                <h3>3. Hire the right pro</h3>
                <p>When you're ready, hire an experienced professional to work on your building violation at a price that's right for you.</p>
            </div>        
            <div class="col-sm-6 text-right">
                <img src="{{ site.baseurl }}/assets/img/step-3.jpg">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-left">
                <h3>4. Learn more</h3>
                <p>Read our <a href="{{ site.baseurl }}/faq">FAQ</a> to learn in detail how we solve building violations.</p>
            </div>        
        </div>


        {% if page.menuname == "home" %}
            <div class="row">
                <div class="col-sm-12">
                    <a href="http://buildingviolation.softelos.com/report-violation" class="btn btn-default orange">Ready? Start now!</a>
                </div>
            </div>
        {% endif %}
    </div>
</section>