    <!-- Page Footer -->
    <footer id="page-footer">
        <div class="inner">
            <aside id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <p>
                                    ©{{ site.year }}, Building Violation LLC<br>
                                    <a href="{{ site.baseurl }}/privacy-policy">Privacy policy</a> | <a href="{{ site.baseurl }}/terms-and-conditions">Terms of use</a><br><br>
                                    <a href="" class="fa fa-facebook btn btn-grey-dark"></a>
                                    <a href="" class="fa fa-linkedin btn btn-grey-dark"></a>
                                    <a href="" class="fa fa-twitter btn btn-grey-dark"></a>
                                </p>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-2 col-sm-2">
                            <article>
                                <h3>Useful Links</h3>
                                <ul class="list-unstyled list-links">
                                    <li><a href="{{ site.baseurl }}/services">Services</a></li>
                                    <li><a href="{{ site.baseurl }}/about">About</a></li>
                                    <li><a href="{{ site.baseurl }}/team">Team</a></li>
                                    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                                </ul>
                            </article>
                        </div><!-- /.col-sm-3 -->

                        <div class="col-md-2 col-sm-2">
                            <article>
                                <h3>Customers</h3>
                                <ul class="list-unstyled list-links">
                                    <li><a href="{{ site.baseurl }}/how-it-works">How it works</a></li>
                                    <li><a href="{{ site.baseurl }}/safety">Safety</a></li>
                                    <li><a href="http://app.buildingviolation.com/submit-violation">Report a violation</a></li>
                                </ul>
                            </article>
                        </div><!-- /.col-sm-3 -->

                        <div class="col-md-2 col-sm-2">
                            <article>
                                <h3>Pros</h3>
                                <ul class="list-unstyled list-links">
                                    <li><a href="{{ site.baseurl }}/how-it-works-pro">How it works</a></li>
                                    <li><a href="http://app.buildingviolation.com/register-pro">Sign up</a></li>
                                </ul>
                            </article>
                        </div><!-- /.col-sm-3 -->


                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Questions? Need help?</h3>
                                Call (866) 545-4440 (8AM-5PM ET)<br>
                                <a href="mailto:info@buildingviolation.com?Subject=Hello" target="_blank">Email us</a><br>
                                <br>
                                <address>
                                    <strong>Building Violation LLC</strong><br>
                                    31 Hempstead Avenue<br>
                                    Staten Island, NY 10306
                                </address>
                            </article>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                        </div>
                    </div>
                </div>
            </aside><!-- /#footer-main -->
            <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
            <aside id="footer-copyright">
                <div class="container center">
                    <span>built by <a href="http://www.softelos.com" target="_blank">softelos</a></span>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>
    <!-- end Page Footer -->