<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Softelos LLC (www.softelos.com)">
    
    <meta content="Work Without a Permit, Illegal Conversion, New York City Department of Buildings Building Violations &amp; BUILDVIO Reports at Affordable Prices! Research, Expedite, and Resolve Building Violations Only $49! CALL NOW âœ† 347-979-7742" name="description" />
    <meta content="Architect, NYC Department of Buildings, New York City DOB, Dept. of Buildings, NYC DEPT DOB, Building Violation, Building Violations, Building Code, Permits, ECB Violation, NYC DOB, DOB, Buildvio, buildvio team, Building Department, Plan Examiner, Architect, Engineer, Construction, Plans, Expediter, Nyc.gov, NYC.Dob, BuildingViolation.com" name="keywords" />
    <meta content="Work Permit, Plubming Permit, Electrical Permit, NYC DOB Building Violations Removal Expeditor Information Portal. Resolve, Remove, Dismiss, New York City Building Violations with BUILDVIO team of experts." name="description" />    
    <meta content="New York City Government" name="classification" />
    <meta content="5 days" name="revisit" />
    <meta content="General" name="rating" />
    <meta content="en-us" name="language" />
    <meta content="NOODP" name="robots" />    

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/jquery.slider.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.transitions.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/block-grid.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" type="text/css">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.ico" sizes="16x16">
    {% if page.menuname != "home" %}
        <title>{{ page.pagename }} - {{ page.description }} - {{ site.sitename }}</title>
    {% else %}
        <title>BuildingViolation - {{ page.description }}</title>
    {% endif %}
    
    <script type="application/ld+json">
        { 
            "@context" : "http://schema.org",
            "@type" : "Organization",
            "url" : "http://www.BuildingViolation.com/",
            "contactPoint" : [{ 
                "@type" : "ContactPoint",
                "telephone" : "+1-347-979-7742",
                "contactType" : "customer service"
            }] 
        }
    </script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5NPBTJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5NPBTJ');
    </script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6899556-6']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>    
</head>