<div class="navigation">
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav expanded" id="brand">
                        {% include /phone.html %}
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        {% if page.pagename != "Home" %}
                            <li {% if page.menuname == "home" %} class="active" {% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
                        {% endif %}
                        <li {% if page.menuname == "signup" %} class="active" {% endif %}><a href="http://app.buildingviolation.com/signup">Sign Up</a></li>
                        <li {% if page.menuname == "signin" %} class="active" {% endif %} id="signin-link"><a href="http://app.buildingviolation.com/sign-in">Sign In</a></li>
                    </ul>
                </nav><!-- /.navbar collapse-->
                <div id="submit-violation-plus" class="add-your-property">
                    <a href="http://app.buildingviolation.com/submit-violation" class="btn btn-default"><i class="fa fa-plus"></i><span class="text">Submit a violation</span></a>
                </div>

            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->