    <div class="search-box-wrapper">
                            <div class="search-box-title center">
                                <h1>Get help with building violations</h1> 
                                <h3>Just enter the address of the property in violation and receive instant quotes from local professionals</h3>                           
                            </div>

        <div class="search-box-inner">
            <div class="container">
                <div class="search-box map">

                    <form role="form" id="form-map-sale" class="form-map form-search clearfix" action="http://app.buildingviolation.com/submit-violation">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="form-search-address">Address or Street</label>
                                    <input type="text" placeholder="e.g. 104 West 113th Street" name="form-search-address">
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="form-search-city">City, State or Zip</label>
                                    <input type="text" placeholder="New York City, NY" name="form-search-city">
                                </div><!-- /.form-group -->
                            </div>

                             <div class="col-md-4">
                                <div class="form-group">
                                    <label for="form-search-submit">&nbsp;</label>
                                    <button type="submit" class="btn btn-default orange" name="form-search-submit">Submit</button>
                                </div><!-- /.form-group -->
                            </div>
                        </div>
                    </form><!-- /#form-map -->
                </div><!-- /.search-box -->
            </div><!-- /.container -->
        </div><!-- /.search-box-inner -->
    </div>
    <!-- end Search Box -->