---
layout: services
pagename: "How it works"
menuname: howitworks
description: "How does buildingviolation.com work"
---

<section id="banner">
        <div class="block has-dark-background background-color-default-darker center text-banner">
            <div class="container">
            <h1 class="no-bottom-margin no-border">How does buildingviolation.com work?</h1>
        </div>
    </div>
</section>

{% include /_how-it-works.html %}

<section id="how-it-works-submit" class="block">
    <div class="container center">
	<h2>Ready to give it a try?</h2>
	
	{% include /search-box-min.html %}

	</div>

</section>
