{% include /head.html %}

<body class="page-sub-page page-sign-in page-account" id="page-top">

  <div class="wrapper">

      {% include /navbar.html %}
    
      <div id="page-content">
          {{ content }}
      </div>

      {% include /footer.html %}

    </div>

    <div id="overlay"></div>

    <script type="text/javascript" src="{{ site.baserurl }}/assets/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="{{ site.baserurl }}/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baserurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baserurl }}/assets/js/smoothscroll.js"></script>
    <script type="text/javascript" src="{{ site.baserurl }}/assets/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{ site.baserurl }}/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ site.baserurl }}/assets/js/icheck.min.js"></script>
    <script type="text/javascript" src="{{ site.baserurl }}/assets/js/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="{{ site.baserurl }}/assets/js/custom.js"></script>
    <!--[if gt IE 8]>
    <script type="text/javascript" src="{{ site.baserurl }}/assets/js/ie.js"></script>
    <![endif]-->
  </body>

</html>